 <div class="container">

        <div class="searchbar">
            <input type="text" class="search-input" placeholder="find your dream car...">
                </div>
            
          
      <h4></h4>
    
      <h6>Sold By Owner: 
2019 Mercedez-Benz , Sprinter
  .</h6>

 <div class="container">

        <div class="searchbar">
            <input type="text" class="search-input" placeholder="find your dream car...">
                </div>
            
          
      <h4></h4>
    
      <h6>Sold By Owner: 
Ford, Focus 2013


  <div class="slideshow-container">


    <div class="carSlides"> 
      <img src="" >
          </div>

    <div class="carSlides">
     <img src=""  > Red Impala, 89,000 miles
    </div>

<div class="carSlides">
    <img src="" >
    Clean interiors
</div>

    <div class="carSlides">

      <img src="">
      Well maintained. 
      Will provide vehicle maintenance log book.
      <div class="carSlides">
  
  </div>
 
</div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>


    <br>
  <button> log in to continue </button>
  