<div class="container" id="list-item">
    <div class="row row-cols-3 g-5">
        {{#each listData}}
            <div class="col border bg-light">
                <img style="width: 250px;" class="card-img-top" src="https://via.placeholder.com/600x400" alt="" />
                <div> Color: {{this.color}}</div>
                <div>Model: {{this.model}}</div>
                <div>Make: {{this.make}}</div>
                <div>Year: {{this.year}}</div>
            </div>
        {{/each}}
    </div>
</div>

<script src="/js/listingHandlers.js"></script>